.homeJumbo {
    width: auto;
    padding: 10px;
    background-color: #52C1FF;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #428AB2;
}

#splash {
    position: relative;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    padding: 0;
    margin: auto;
    /* left: 300px;
    top: 0vh; */
}

 #splashImg {
    /* position: relative; */
    z-index: 0;
    padding: 0;
    margin: 0;
    min-width: 767.5px;
} 

#splashScreen {
    border: 10px;
    border-radius: 10px;
    background-color: #52C1FF;
    z-index: 1;
    position: absolute;
    margin: 0 auto;
    padding: 10px;
    top: 250px;
    left: 270px; 
    text-align: center;
}

#logInForm, #registerForm {
    z-index: 1;
    position: absolute;
    margin: 0 auto;
    padding: 10px;
     top: 200px;
    left: 205px; 
    text-align: center;
    width: 400px; 
    height: auto;
}

#back_log, #logIn {
    margin: 3vw
}